<a href="https://colab.research.google.com/github/notKrunch/My-Programming-Class/blob/main/CLASS-EXERCISES/JANUARY5-2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# define function
def square_root(num):
    return num*num

for i in range(1, 11):
    # function call
    result = square_root(i)
    print('Square of', i ,'=', result)

Square of 1 = 1
Square of 2 = 4
Square of 3 = 9
Square of 4 = 16
Square of 5 = 25
Square of 6 = 36
Square of 7 = 49
Square of 8 = 64
Square of 9 = 81
Square of 10 = 100

In [ ]:
# strip(), lstrip(), rstrip()

str = 'ooo WELCOME 2023 ooo'

# using strip() to delete all 'ooo'
print ( " String after stripping all 'ooo' is : ", end="")
print ( str.strip('o') )
  
# using lstrip() to delete all left 'ooo'
print ( " String after stripping all left 'ooo' is : ", end="")
print ( str.lstrip('o') )
  
# using rstrip() to delete all right 'ooo'
print ( " String after stripping all right 'ooo' is : ", end="")
print ( str.rstrip('o') )

 String after stripping all 'ooo' is :  WELCOME 2023
 String after stripping all left 'ooo' is :  WELCOME 2023 ooo
 String after stripping all right 'ooo' is : ooo WELCOME 2023

In [ ]:
# Check whether an alphabet is a vowel or a consonant
alphabet = input('Enter a letter: ')

if alphabet in ('a','e','i','o','u','A','E','I','O','U'):
  print('This letter is a vowel.')
else:
  print('This letter is a consonant.')

Enter an alphabet letter: A
This letter is a vowel.

In [ ]:
# Comparing two numbers
first = float(input('Enter the 1st number: ')) 
second = float(input('Enter the 2nd number: ')) 

if first > second :
  print(first, ' is bigger than', second)
elif second > first :
  print(second, ' is bigger than', first)
elif first == second:
  print('Both numbers are equal.')

Enter the 1st number: 14
Enter the 2nd number: 12
14.0  is bigger than 12.0

In [ ]:
# Printing all elements in a list using for loop

numbers = [1,2,3,4,5]

for x in numbers:
  print(x)

1
2
3
4
5

In [ ]:
# Dictionary with key-value pair and updating the dictionary
name = {'NAME':'Ryan Lumbes', 'ID':'2022358','COURSE':'Creative Computing'}
print('Display key-value pairs')
for key, value in name.items(): 
  print(f"\nKey: {key}")
  print(f"Value: {value}\n")

name['GENDER'] ='Male'
print(name)

Display key-value pairs

Key: NAME
Value: Ryan Lumbes


Key: ID
Value: 2022358


Key: COURSE
Value: Creative Computing

{'NAME': 'Ryan Lumbes', 'ID': '2022358', 'COURSE': 'Creative Computing', 'GENDER': 'Male'}

In [ ]:
# Declaring 2 tuples compromising of leap and non-leap years
leap_year=(2004, 2008 ,2016, 2020)
non_leap_year=(2003, 2005, 2006, 2007)

print('\nThe list of 4 leap years:') 
print(leap_year[0:5])
print('\nThe list of 4 non-leap years:') 
print(non_leap_year[0:5])

# Concatenating 2 tuples

print('\nThe list of 4 leap and non-leap years:')
print(leap_year + non_leap_year)

# Repeating the number of times using *
print('\nRepeating the lists 3 times:')
print(leap_year*3)
print(non_leap_year*3)

# Length of each tuple
print('\nLength of each tuple:')
print(len(leap_year))
print(len(non_leap_year))

# Sum of elements in tuples
print('\nSum of elements in tuples:')
print(sum(leap_year))
print(sum(non_leap_year))

# Sort elements in tuples
print('\nSort elements in tuples:')
print(sorted(leap_year))
print(sorted(non_leap_year))

# Swap 2 tuples
print('\nSwap 2 tuples:')
leap_year,non_leap_year=non_leap_year,leap_year
print('4 non-leap years:', leap_year)
print('4 leap years:', non_leap_year)

In [ ]:
# Write a program to print the following number pattern
n=int(input('Enter the number of rows:'))
i=1
while i<=n:
  j=1
  while j<=i:
    print((i*2-1), end=' ')
    j=j+1
  i=i+1
  print()

Enter the number of rows:5
1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

In [ ]:
# Count the number of occurrence of a character in a string

counter = 0

my_string= 'classroom'
my_char= 's'

for i in my_string:
  if i == my_char:
    counter += 1
print(counter)

2

In [ ]:
# creating zero, one, two, multi dimensional array importing NumPy
import numpy as np

list=np.array(69) # create 0 dimensional array
print('Zero dimensional array: ', list)

list1=np.array([65,66,67,68,69]) # create one dimensional array
print('One dimensional array: ', list1)

list2=np.array([[65,66,67,68,69], [1,2,3,4,5]]) # create two dimensional array
print('Two dimensional array: \n ', list2)

list3=np.array([[[0,0,0,0],[1,1,1,1]],[[2,2,2,2],[3,3,3,3]]]) # create multi dimensional array
print('Multi dimensional array: \n ', list3)

In [ ]:
# draw square in Python Turtle with different color sides
!pip3 install ColabTurtle
from ColabTurtle.Turtle import *
import ColabTurtle.Turtle as t
initializeTurtle()

# Write a program to draw a square using Python Turtle with different color 
t.color('Blue')
t.forward(100) 
t.right(90)
t.color('Yellow')
t.forward(100)
t.right(90)
t.color('Red')
t.forward(100)
t.right(90)
t.color('Green')
t.forward(100)
t.right(90)

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting ColabTurtle
  Downloading ColabTurtle-2.1.0.tar.gz (6.8 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: ColabTurtle
  Building wheel for ColabTurtle (setup.py) ... done
  Created wheel for ColabTurtle: filename=ColabTurtle-2.1.0-py3-none-any.whl size=7656 sha256=582425b6c589a18e1df9b444ec910a74cc9e3959480d4e49c200adb5f456c4d0
  Stored in directory: /root/.cache/pip/wheels/a9/85/dc/29b6b43c4c6c0fe37192ccad65fe2adcef1e52dd24b0eb61fc
Successfully built ColabTurtle
Installing collected packages: ColabTurtle
Successfully installed ColabTurtle-2.1.0

In [ ]:
# Sort Array in Descending Order
import numpy as np


list = np.array([5, 7, 9, 11, 13])


for i in range(0, len(list)):
  for j in range(i + 1, len(list)):
   if (list[i]) < (list[j]):
       temp = list[i];    
       list[i] = list[j];    
       list[j] = temp;    
     
print(list)

[13 11  9  7  5]