<a href="https://colab.research.google.com/github/notKrunch/My-Programming-Class/blob/main/CLASS-EXERCISES/OCTOBER6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
sentence= 'My name is Ryan Christian Lumbes'
sentence1='My name is Ryan Christian Lumbes'
sentence_1='My name is Ryan Christian Lumbes'
Sentence1='My name is Ryan Christian Lumbes'
Sentence_1='My name is Ryan Christian Lumbes'
SENTENCE1='My name is Ryan Christian Lumbes'
SEnTEnCE1='My name is Ryan Christian Lumbes'
SENTENCE_1='My name is Ryan Christian Lumbes'
SEnTEnCE_1='My name is Ryan Christian Lumbes'
_sentence='My name is Ryan Christian Lumbes'
my_name='My name is Ryan Christian Lumbes'
My_Name='My name is Ryan Christian Lumbes'

print(sentence, sentence1, sentence_1, Sentence1, Sentence_1, SENTENCE1, SEnTEnCE1, SENTENCE_1, SEnTEnCE_1, _sentence, my_name, My_Name)

My name is Ryan Christian Lumbes My name is Ryan Christian Lumbes My name is Ryan Christian Lumbes My name is Ryan Christian Lumbes My name is Ryan Christian Lumbes My name is Ryan Christian Lumbes My name is Ryan Christian Lumbes My name is Ryan Christian Lumbes My name is Ryan Christian Lumbes My name is Ryan Christian Lumbes My name is Ryan Christian Lumbes My name is Ryan Christian Lumbes

In [ ]:
1sentence= 'My name is Ryan Christian Lumbes'
-sentence='My name is Ryan Christian Lumbes'
*sentence='My name is Ryan Christian Lumbes'
Sentence-1='My name is Ryan Christian Lumbes'
Sentence*1='My name is Ryan Christian Lumbes'
my's_name='My name is Ryan Christian Lumbes'

print(1sentence)
print(-sentence)
print(*sentence)
print(Sentence-1)
print(Sentence*1)
print(my's_name)

SyntaxError: ignored

In [ ]:
x= 25 #int value
FLOAT= 2.56 #floating point value
COMPLEX = 31+6j #complex value

#type()prints the datatype of the variable

print(INT)
print(FLOAT)
print(COMPLEX)
print("Type of INT is:", type(INT))
print("Type of FLOAT is:", type(FLOAT))
print("Type of COMPLEX is:", type(COMPLEX))

25
2.56
(31+6j)
Type of INT is: <class 'int'>
Type of FLOAT is: <class 'float'>
Type of COMPLEX is: <class 'complex'>

In [ ]:
print("enter marks")
marks= int(input())
print("Marks obtained is", marks)

enter marks
69
Marks obtained is 69

In [ ]:
side = float(input("Enter the side of a square:"))

area = side**2

print("The area of a square is:", area)

Enter the side of a square:6
The area of a square is: 36.0

In [ ]:
#use input() function to work with user defined variables
print('Please enter the side of a square')
side= float(input())
print('Side of the square=', side)
print('The area of a square with side: ' + str(side) +' units= ' + str(side**2)+ ' sq units')

Please enter the side of a square
5
Side of the square= 5.0
The area of a square with side: 5.0 units= 25.0 sq units

In [ ]:
pi = 3.14
r = float(input("Input the radius of the circle:"))
print('The area of the circle with radius: ' + str(r) + " is: " + str(pi * r**2))

Input the radius of the circle:5
The area of the circle with radius: 5.0 is: 78.5

In [ ]:
str = 'Hello World'

print (str)          # Prints complete string
print (str[0])       # Prints first character of the string
print (str[2:5])     # Prints characters starting from 3rd to 5th
print (str[2: ])     # Prints string starting from 3rd character
print (str*2)        # Prints string two times
print (str + " TEST") # Prints concatenated string

Hello World
H
llo
llo World
Hello WorldHello World
Hello World TEST

In [ ]:
# working with strings
sentence1='Today is 6th October, 2022, Thursday '
print(sentence1)
print(sentence1[0])
print(sentence1[0:5])
print(sentence1[4: ])
print(sentence1*2)

sentence2= "Today is our fifth session on 'Introduction on Programming'."
print(sentence2)

sentence3= 'Today we are learning about different types of variables in python programming'
print(sentence3)

# Strings Concatination
# Write three strings in different variables and print the output as one string.

print(sentence1+sentence2+sentence3)

Today is 6th October, 2022, Thursday
T
Today
y is 6th October, 2022, Thursday
Today is 6th October, 2022, Thursday Today is 6th October, 2022, Thursday
Today is our fifth session on 'Introduction on Programming'.
Today we are learning about different types of variables in python programming
Today is 6th October, 2022, Thursday Today is our fifth session on 'Introduction on Programming'.Today we are learning about different types of variables in python programming

In [ ]:
#changing case in Python

date='Today is 6th October, 2022, Thursday'
print(date.lower())
print(date.upper())
print(date.title())
rhyme='twinkle twinkle little star, how I wonder, what you are!'
print(rhyme.capitalize())
print(date.swapcase())

today is 6th october, 2022, thursday
TODAY IS 6TH OCTOBER, 2022, THURSDAY
Today Is 6Th October, 2022, Thursday
Twinkle twinkle little star, how i wonder, what you are!
tODAY IS 6TH oCTOBER, 2022, tHURSDAY

In [ ]:
# use of lstrip() function to remove spaces from left side of the string 

word='   krunch'
new_word=word.lstrip()
print(word)
print(new_word)

   krunch
krunch

In [ ]:
# To add a tab to your text, use the character combination \t

print("The programming language is: \t Python")

# To add a newline in a string, use the character combination \n

print("\n")
print("Programming Languages:\nPython\nC\nJavaScript")

print("\n")

# Formatting using \t and \n

print("Programming Language:\n\tPython\n\tC\n\tJavaScript")

The programming language is: 	 Python


Programming Languages:
Python
C
JavaScript


Programming Language:
	Python
	C
	JavaScript